# This is a target file for MakeHuman , shape key: rest.target.  
# It was written by MakeShapes2, which is a part of the MakeHuman Community addons for Blender.
#
# basemesh hm08
